*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    width: 100%;
    padding: 0 8%;
}

.container h1{
    text-align: center;
    padding-top: 8%;
    margin-bottom: 50px;
    font-weight: 500;
    position: relative;
}

.container h1::after{
    content: '';
    background: #303ef7;
    width:  100px;
    height:  5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50px);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 7%;
    background-color: rgb(159, 161, 161);
}

.logo{
    cursor: pointer;
    width: 50px;
}

nav{
    list-style: none;
}

nav li{
    display: inline-block;
}

nav li a{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    margin: 0px 7px 0px 7px;
}

nav li a:hover{
    color: rgb(102, 98, 102);
    background-color: #fff;
    padding: 0px 20px;
}

.profile{
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    margin: 20% 0 3% 0;
}

.deskrip-profile{
    margin: 0 10% 0 10%;
    text-align: center;
}

button{
    margin: 25px 2px 80px 2px;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: medium;
}

button:hover{
    background-color: darkgrey;
    font-weight: bold;
}

.about{
    text-align: center;
    display: flex;
}

.about img{
    width: 40%;
    height: auto;
}

.about p{
    vertical-align: middle;
    margin-top: 10%;
    margin-left: 5%;
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 35px;
}

.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.service i{
    font-size: 35px;
    margin-bottom: 10px;
    color: #303ef7;
}

.service h2{
    font-weight: 600;
    margin-bottom: 8px;
}

.service:hover{
    background: #303ef7;
    color: #fff;
    transform: scale(1.2);
}

.service:hover i{
    color: #fff;
}

footer {
    background-color: rgb(75, 67, 67);
    color: white;
    text-align: center;
    padding: 3px;
    margin-top: auto;
}
